@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: Neue Machina;
    src: url('../fonts/neue-machina-regular.otf')
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: black;
    color: azure;
}

ul {
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.main::before,
.main::after {
    content: '';
    background-image: url('/assets/img/background/bg-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    width: 140vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width:768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }
}